body{
	background-image: url("./img/cards/Logo black.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#Texto{
	margin-top: 250px;
}

#foot{
	position:absolute;
	bottom: 0;
	width: 100%
}

.brand-logo img{
	margin-top: 7px;
}
